body {
    background: rgb(255, 255, 255);
    margin: 0 1%;
}

.nav-link:hover {
    background-color: #e0e0e0;
    /* Цвет фона при наведении (не темно-серый) */
    color: #000;
    /* Цвет текста при наведении */
}

.bg-dark-blue {
    background-color: #001f3f; /* Темно-синий цвет */
}